<div class="top-layout-user row">
  <%= render 'user_profile', user: @user %>
  <div class="user-member row">
    <ul class="nav nav-tabs" role="tablist">
      <li><a href="<%= user_url(@user) %>">Photo Spots</a></li>
      <li><a href="<%= collection_user_url(@user) %>">Collection</a></li>
      <li class="active"><a href="<%= about_user_url(@user) %>">About</a></li>
      <li><a href="<%= followers_user_url(@user) %>">Followers</a></li>
      <li><a href="<%= followings_user_url(@user) %>">Followings</a></li>
    </ul>
  </div>
</div>

<div class="user-about row">
  <div class="user-information col col-md-6">
    <div class="row">
      <div class="user-element">Experience</div>
      Pashadelic member since 2016
    </div>
    <div class="row">
      <div class="user-element">Biography</div>
      The information hasn't been provided yet.
    </div>
    <div class="row">
      <div class="user-element">Interests</div>
      The information hasn't been provided yet.
    </div>
  </div>

  <div class="user-equipment col col-md-6">
    <h3>What you have in common</h3>
    <%= image_tag(@user.avatar_url) %>
    <div class="user-element">Equipment</div>
    <div class="user-element">Camera:</div>
    <div class="user-element">Lens:</div>
    <div class="user-element">Tripod:</div>
    <div class="user-element">Filter:</div>
    <div class="user-element">Software:</div>
  </div>
</div>