<div class="top-layout-user row">
  <%= render 'user_profile', user: @user %>
  <div class="user-member row">
    <ul class="nav nav-tabs" role="tablist">
      <li><a href="<%= user_url(@user) %>">Photo Spots</a></li>
      <li><a href="<%= collection_user_url(@user) %>">Collection</a></li>
      <li><a href="<%= about_user_url(@user) %>">About</a></li>
      <li class="active"><a href="<%= followers_user_url(@user) %>">Followers</a></li>
      <li><a href="<%= followings_user_url(@user) %>">Followings</a></li>
    </ul>
  </div>
</div>

<%= render 'follower_list', users: followers_users_list(@followers) %>