<div class="row">
  <% images.each do |image| %>
      <div class='col col-md-4 category-index-main-div'>
        <div class="row img-on-category-index">
          <%= link_to image_tag(image.img_url.thumb.url), image %>
          <%= render 'images/image_button_like', image: image %>
        </div>
        <div class="description-image">
          <%= link_to image_tag(image.user.avatar_url), user_path(image.user), class: 'avatar' %>
          Created by <%= link_to image.user.name, user_path(image.user) %>
          <%= render 'images/image_statistical', image: image %>
        </div>
      </div>
  <% end %>
</div>