<div class="row">
  <div class="image-content">
    <%= image_tag(@image.img_url) %>
  </div>
  <div class="image-info">
    <div class="col col-md-8">
      <div class="comment-form row">
        <div class="user-avatar">
          <%= image_tag(current_user.avatar_url) %>
        </div>
        <div class="form-comment">
          <%= form_for(Comment.new, :url => {controller: 'comments', action: 'create', user: current_user, image: @image}, remote: true) do |f| %>
              <div class="field">
                <%= f.text_area :content, placeholder: 'Add your comment...' %>
              </div>
              <div class="actions">
                <%= f.submit 'Comment' %>
              </div>
          <% end %>
        </div>
      </div>
      <% @image.comments.level_0.each do |comment| %>
        <%= render comment %>
      <% end %>
    </div>

    <div class="col col-md-4">

    </div>
  </div>
</div>

<script>
  $('.image-content').click(function(){
    if($('.image-content').css("position") == 'static') {
      $('.image-content').css({
        "min-height": "100vh",
        "min-width": "100vh",
        "position": "absolute",
        "padding-top": "100px",
        "left": "0",
        "top": "0"
      });
      $('.image-content img').css({
        "margin": "auto auto",
      });
    }
    else {
      $('.image-content').css({
        "min-height": "auto",
        "width": "100%",
        "margin": "0 auto",
        "position": "static",
        "padding-top": "0",
        "left": "0",
        "top": "0"
      });
    }
  });
</script>