<div class="navbar navbar-fixed-top my-nav">
  <div class="container clearfix">
    <div class="my-navbar-left">
      <a href="<%= root_path %>">
        <div class="logo"><img src="http://assets.pashadelic.com/assets/common/pashadelic_logo.png"></div>
      </a>
      <div class="search-form">
        <%= form_tag search_path, method: :get do %>
            <i class="fa fa-picture-o"></i>
            <%= text_field_tag :query, params[:query], placeholder: 'Find inspiring photos' %>
            <button type="submit">
              <i class="fa fa-search"></i>
            </button>
        <% end %>
      </div>
    </div>

    <div class="nav navbar-nav my-navbar-right">
      <% if current_user %>
          <%= link_to '<i class="fa fa-upload"></i>'.html_safe, new_image_path, class: 'icon-upload' %>
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-user icon-upload"></i><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="<%= user_url(current_user) %>">My page</a></li>
            <li><a href="#">Setting</a></li>
            <li><%= link_to 'Logout', logout_url, method: :delete %></li>
          </ul>
      <% else %>
          <%= link_to '<i class="fa fa-user-plus"></i>'.html_safe, new_user_path, class: 'icon-upload' %>
          <%= link_to '<i class="fa fa-sign-in"></i>'.html_safe, login_path, class: 'icon-upload' %>
      <% end %>
    </div>
  </div>
</div>

<div class="main-manu" style="margin-top: 60px">
  <div class="menu-tab">
    <%= link_to 'Home', root_path %>
  </div>
  <div class="menu-tab">
    <%= link_to 'Photos', popular_path %>
  </div>
  <div class="menu-tab">
    <%= link_to 'Categories', categories_path %>
  </div>
</div>